# Git Ignore for Ground Control.
# -----------------------------------------------------------------------------

# Flotsam & Jetsam.
# -------------------------------------
.DS_Store

# Nested Git files.
# -------------------------------------
**/.git
**/.gitignore
**/.gitmodules

# Composer.
# -------------------------------------
composer.lock

# Dependencies.
# -------------------------------------
tools/bower_components
tools/node_modules

# Documentation & Reports.
# -------------------------------------
docs/*
tools/docs/*
reports/*
tools/reports/*
