# Git Ignore for Ground Control.
# -----------------------------------------------------------------------------

# Flotsam & Jetsam.
# -------------------------------------
.DS_Store

# Nested Git files.
# -------------------------------------
build/**/.git
build/**/.gitignore
build/**/.gitmodules

# Assets.
# -------------------------------------
assets/css/*
!assets/css/.gitkeep
assets/js/lib/modernizr-custom.js

# Composer.
# -------------------------------------
composer.lock

# Dependencies.
# -------------------------------------
bower_components
node_modules

# Documentation & Reports.
# -------------------------------------
docs/*
tests/docs/*
reports/*
tests/reports/*
